
<header class="admin-header">
    <div class="header-left">
      <h2>Admin Panel</h2>
    </div>
    <div class="header-center">
      <span class="time">{{ currentTime }}</span>
    </div>
    <div class="header-right">
      <button (click)="goToAddFood()">Add Food</button>
      <button (click)="adminHome()">admin Home</button>
      <button (click)="gotoorder()">Admin Order</button>
      <button (click)="gotobooking()">Admin Booking</button>
      <button (click)="goHome()" style="background-color: #ffc233; ">User Home</button>
    </div>
  </header>
  